<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>pivotal.push.sslCertValidationMode</key>
	<string>default</string>
	<key>pivotal.push.areAnalyticsEnabled</key>
	<true/>
	<key>pivotal.push.pinnedSslCertificateNames</key>
	<array/>
	<key>pivotal.push.serviceUrl</key>
	<string>http://push-api.gulch.cf-app.com</string>
	<key>pivotal.push.platformUuidDevelopment</key>
	<string>b74b8af5-dcbf-44c7-922d-0b5f5f83bc57</string>
	<key>pivotal.push.platformSecretDevelopment</key>
	<string>e4b692a5-11b2-4b3a-af9b-8861f4dd650c</string>
	<key>pivotal.push.platformUuidProduction</key>
	<string>b74b8af5-dcbf-44c7-922d-0b5f5f83bc57</string>
	<key>pivotal.push.platformSecretProduction</key>
	<string>e4b692a5-11b2-4b3a-af9b-8861f4dd650c</string>
</dict>
</plist>
