<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>pivotal.push.sslCertValidationMode</key>
	<string>default</string>
	<key>pivotal.push.areAnalyticsEnabled</key>
	<true/>
	<key>pivotal.push.pinnedSslCertificateNames</key>
	<array/>
	<key>pivotal.push.serviceUrl</key>
	<string>https://push-api.kitkat.cf-app.com</string>
	<key>pivotal.push.platformUuidDevelopment</key>
	<string>94975b91-4716-4a97-8aef-b5b385bec69d</string>
	<key>pivotal.push.platformSecretDevelopment</key>
	<string>63f0933b-f98d-49aa-a2c3-700afdd597d8</string>
	<key>pivotal.push.platformUuidProduction</key>
	<string>94975b91-4716-4a97-8aef-b5b385bec69d</string>
	<key>pivotal.push.platformSecretProduction</key>
	<string>63f0933b-f98d-49aa-a2c3-700afdd597d8</string>
</dict>
</plist>
