<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>pushAutoRegistrationEnabled</key>
	<true/>
	<key>pushAPIURL</key>
	<string>http://cfms-push-service-dev.one.pepsi.cf-app.com</string>
	<key>pushDeviceAlias</key>
	<string>Default Device Alias</string>
	<key>productionPushVariantSecret</key>
	<string>7c358bff-bd9c-4c9c-872c-ea68064744e5</string>
	<key>productionPushVariantUUID</key>
	<string>6355ee17-935e-48a0-ad70-c56b10806844</string>
	<key>developmentPushVariantSecret</key>
	<string>7c358bff-bd9c-4c9c-872c-ea68064744e5</string>
	<key>developmentPushVariantUUID</key>
	<string>6355ee17-935e-48a0-ad70-c56b10806844</string>
</dict>
</plist>
