<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>pushAutoRegistrationEnabled</key>
	<true/>
	<key>pushAPIURL</key>
	<string>http://push-notifications.demo.vchs.cfms-apps.com</string>
	<key>pushDeviceAlias</key>
	<string>Default Device Alias</string>
	<key>productionPushVariantSecret</key>
	<string>e468d440-b912-47ec-8a0c-2502be9d596c</string>
	<key>productionPushVariantUUID</key>
	<string>e72f8cc0-0625-4e8f-8926-40f274c87838</string>
	<key>developmentPushVariantSecret</key>
	<string>e468d440-b912-47ec-8a0c-2502be9d596c</string>
	<key>developmentPushVariantUUID</key>
	<string>e72f8cc0-0625-4e8f-8926-40f274c87838</string>
</dict>
</plist>
