<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>pushAPIURL</key>
	<string>http://transit-push.cfapps.io</string>
	<key>pushDeviceAlias</key>
	<string>Default Device Alias</string>
	<key>productionPushVariantSecret</key>
	<string>a0fe2509-f9a7-4169-a745-937b09604c9f</string>
	<key>productionPushVariantUUID</key>
	<string>11ff6a44-6018-4869-91af-9e97faf941a8</string>
	<key>developmentPushVariantSecret</key>
	<string>a0fe2509-f9a7-4169-a745-937b09604c9f</string>
	<key>developmentPushVariantUUID</key>
	<string>11ff6a44-6018-4869-91af-9e97faf941a8</string>
</dict>
</plist>
