<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>pivotal.push.sslCertValidationMode</key>
	<string>default</string>
	<key>pivotal.push.areAnalyticsEnabled</key>
	<true/>
	<key>pivotal.push.pinnedSslCertificateNames</key>
	<array/>
	<key>pivotal.push.serviceUrl</key>
	<string>https://push-api.kitkat.cf-app.com</string>
	<key>pivotal.push.platformUuidDevelopment</key>
	<string>34b6e707-8c1a-4e8e-beb0-01e9e22df118</string>
	<key>pivotal.push.platformSecretDevelopment</key>
	<string>f1cc2caa-3c9c-4e67-90b4-c410b3c0e1e7</string>
	<key>pivotal.push.platformUuidProduction</key>
	<string>34b6e707-8c1a-4e8e-beb0-01e9e22df118</string>
	<key>pivotal.push.platformSecretProduction</key>
	<string>f1cc2caa-3c9c-4e67-90b4-c410b3c0e1e7</string>
</dict>
</plist>
