<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>pivotal.push.sslCertValidationMode</key>
	<string>trustall</string>
	<key>pivotal.push.areAnalyticsEnabled</key>
	<true/>
	<key>pivotal.push.pinnedSslCertificateNames</key>
	<array/>
	<key>pivotal.push.serviceUrl</key>
	<string>https://push-api.zeus.push.gcp.cf-app.com</string>
	<key>pivotal.push.platformUuidDevelopment</key>
	<string>5cd427b4-aa21-4e88-b396-b27364bd6a9c</string>
	<key>pivotal.push.platformSecretDevelopment</key>
	<string>08d19662-b134-4ef6-b58c-e9c5150101ee</string>
	<key>pivotal.push.platformUuidProduction</key>
	<string>5cd427b4-aa21-4e88-b396-b27364bd6a9c</string>
	<key>pivotal.push.platformSecretProduction</key>
	<string>08d19662-b134-4ef6-b58c-e9c5150101ee</string>
</dict>
</plist>
